<section>

  <!-- Number badge -->
  <div class="material-label mdl-badge" data-badge="4">Inbox</div>

  <!-- Icon badge on icon -->
  <div class="icon material-icons mdl-badge" data-badge="♥">account_box</div>

</section>

<!--&lt;!&ndash; Accent-colored raised button with ripple &ndash;&gt;-->
<!--<button class="mdl-button mdl-js-button mdl-button&#45;&#45;raised mdl-js-ripple-effect mdl-button&#45;&#45;accent">-->
  <!--Button-->
<!--</button>-->

<!--&lt;!&ndash; Colored FAB button &ndash;&gt;-->
<!--<button class="mdl-button mdl-js-button mdl-button&#45;&#45;fab mdl-button&#45;&#45;colored">-->
  <!--<i class="material-icons">add</i>-->
<!--</button>-->
